.tecnologyBox
    background: #3f3f3f
    padding: .5rem 0rem

    border-radius: 2px

    margin: 1.3rem

    height: 350px
    width: 400px

    display: flex
    align-items: center
    justify-content: center
    flex-direction: column



    img
        width: 240px

    h3
        padding: 5px
        color: #fff
        font-size: 1.5rem
        font-weight: .5rem
