@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0.7rem;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand .menuButton {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.brand img {
  width: 50px;
  height: 50px;
}

/* Main */
main {
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main h1 {
  margin-top: 5rem;
  font-weight: 900;
  line-height: 3.5rem;
  font-size: 3rem;
}
main .buttonBox {
  margin-top: 5rem;
  background: #171717;
  height: 4rem;
  width: 16rem;
  border-radius: 50px;
}
main .buttonBox a {
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
}
main .buttonBox:hover {
  transition: 0.8s;
  background: #3f3f3f;
  border-radius: 25px;
}
main .arrowIcon {
  margin-top: 5rem;
  width: 3.5rem;
}
main .floating {
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  50% {
    transform: translateY(-20%);
  }
}

/* ABOUT */
.about {
  margin: 0;
  padding: 0;
  width: 100vw;
  background: #171717;
}
.about .imageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about h1 {
  margin-top: 2rem;
  font-size: 2rem;
  color: #f5f5f5;
}
.about img {
  max-width: 90vw;
  border-radius: 8px;
  margin-top: 3rem;
}
.about .aboutText {
  color: #f5f5f5;
  padding: 1rem;
  padding-bottom: 3rem;
}

/* premiações */
.premiacoes .premiacoesHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2.5rem;
}
.premiacoes .trofeuIcon {
  width: 100px;
  animation: pulse 2s infinite ease-in-out;
}
@keyframes pulse {
  50% {
    transform: scale(0.9);
  }
}
.premiacoes h1 {
  margin-top: 0.3rem;
  font-size: 2rem;
}
.premiacoes .premiacao {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.premiacoes .premiacaoImgContainer {
  width: 90%;
  max-width: 450px;
  background: #3e3e3e;
  border-radius: 0.2rem;
}
.premiacoes .premiacaoImgContainer img {
  padding: 1.5rem 1rem;
  padding-bottom: 0.2rem;
  width: 100%;
}
.premiacoes .premiacaoTextContainer h3 {
  color: #fff;
}
.premiacoes .premiacaoTextContainer p {
  padding-top: 0.1rem;
  color: #f3f3f3;
}

/* tecnologias */
.tecnologys {
  background: #171717;
}
.tecnologys .tecnologysHeader {
  padding-top: 3rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.tecnologys .tecnologysHeader img {
  width: 50px;
  animation: spin 3s infinite ease-in-out;
}
.tecnologys .tecnologysHeader h1 {
  color: #fff;
  font-size: 2rem;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=App.css.map */