
*
    padding: 0
    margin: 0
    box-sizing: border-box

.container
    padding: .7rem

.brand
    display: flex
    align-items: center
    justify-content: space-between

    .menuButton
        background: none
        border: none

        width: 50px
        height: 50px

        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        cursor: pointer

    img
        width: 50px
        height: 50px

/* Main */
main

    height: 88vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    h1

        margin-top: 5rem
        font-weight: 900
        line-height: 3.5rem
        font-size: 3rem

    .buttonBox
        margin-top: 5rem
        background: #171717
        height: 4rem
        width: 16rem

        border-radius: 50px

        a
            height: 100%
            width: 100%
            color: #fff
            text-decoration: none
            cursor: pointer

            text-align: center

            display: flex
            align-items: center
            justify-content: center
            flex-direction: column

            font-size: 1.2rem
            font-weight: bold

    .arrowIcon
        margin-top: 5rem
        width: 3.5rem

    .floating
        animation: float 2s ease-in-out infinite

    @keyframes float
        50%
            transform: translateY(-20%)

/* ABOUT */
.about

    margin: 0
    padding: 0
    width: 100vw

    background: #171717

    .imageBox
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

    h1
        margin-top: 2rem
        font-size: 2rem
        color: #f5f5f5 

    img
        max-width: 90vw
        border-radius: 8px

        margin-top: 3rem

    .aboutText
        color: #f5f5f5
        padding: 1rem

        padding-bottom: 3rem